(<%= @stakeholders.count %>)
<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>
        <label class="checkbox">
          <input type="checkbox" value="">
        </label>
      </th>
      <th><small>Project RefNo</small></th>
      <th><small>Entity</small></th>
      <th><small>Role</small></th>
      
      <th></th>
      
      <th></th>
    </tr>
  </thead>
  <tbody>

<% @stakeholders.each do |stakeholder| %>
  <tr>
    <td>
      <label class="checkbox">
        <input type="checkbox" value="">
      </label>
    </td>
    <td><%= Project.where('id = ?', stakeholder.project_id).first.refno %></td>
    <td><%= Entity.where('id = ?', stakeholder.entity_id).first.title %></td>
    <td><%= stakeholder.role %></td>
    
    <td><%= link_to 'Edit', edit_stakeholder_path(stakeholder) %></td>
    <td><%= link_to 'Destroy', stakeholder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New stakeholder', new_stakeholder_path %>
