<p id="notice"><%= notice %></p>

<p>
	<b>Title:</b>
	<%= @stakeholder.title %>
</p>

<p>
	<b>Short title:</b>
	<%= @stakeholder.short_title %>
</p>

<p>
	<b>Auth. country:</b>
	<%= @stakeholder.country.name %>
</p>
<p>
	<b>Projects:</b>
	<% @stakeholder.projects.each do |p| %>
		<% if p.refno then %>
			<small><%= link_to p.refno, project_path(p) %>, </small>
		<% else %>
			<%= "None" %>
		<% end %>
	<% end %>
</p>



<%= link_to 'Edit', edit_stakeholder_path(@stakeholder) %> |
<%= link_to 'Back', stakeholders_path %>
