<h1>Documents</h1>
<div class="pagination pagination-mini">
<%= will_paginate @documents, :previous_label => h("<"), :next_label => h(">"), :container => false %>
</div>

<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th><%= sortable "title" %></th>
      <th><%= sortable "short_title" %></th>
      <th><%= sortable "process_type", "Process" %></th>
      <th><%= sortable "issue_date", "Issue date" %></th>
      <th>Standard</th>
      <th><%= sortable "project_id", "Project ID" %></th>
      <th></th>
    </tr>
</thead>
<tbody>
<% @documents.each do |document| %>
  <tr>
    <td><%= link_to document.title, document.link %></td>
    <td><%= link_to document.short_title, document.link %></td>
    <td><%= document.process_type %></td>
    <td><%= document.when_dates.first.date_string %></td>
    <td><%= Standard.find_by_id(document.occasions.first.standard_id).short_name %></td>
    <td><%= document.project_id %></td>
    <td><%= link_to 'Show', document, :class => 'btn btn-mini' %></td>
  </tr>
<% end %>
</tbody>
</table>
<div class="pagination pagination-centered">
<%= will_paginate @documents, :previous_label => h("<"), :next_label => h(">"), :container => false %>
</div>
