(<%= @documents.count %>)
<%= will_paginate @documents, :previous_label => h("<"), :next_label => h(">"), :class => "pagination pagination-mini text-center" %>
<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th><%= sortable "title" %></th>
      <th><%= sortable "short_title" %></th>
      <th><%= sortable "process_type", "Process" %></th>
      <!-- <th><%= sortable "when_dates.date", "Issue date" %></th> -->
      <th><%= sortable "when_dates.date", "Upload date" %></th>
      <th>Standard</th>
      <th><%= sortable "project_id", "Project ID" %></th>
      <th></th>
    </tr>
</thead>
<tbody>
<% @documents.each do |document| %>
  <tr>
    <td><%= link_to document.title, document.link %></td>
    <td><%= link_to document.short_title, document.link %></td>
    <td><%= document.process_type %></td>
    <td>
        <% document.occasions.each do |o| %>
        <% if o.description =~ /issue/i %>
        <!--   <td><%= WhenDate.find(o.when_date_id).date.localtime.to_formatted_s(:just_date) %></td> -->
        <% elsif o.description =~ /upload/i && WhenDate.find(o.when_date_id)%>
          <%= WhenDate.find(o.when_date_id).date.localtime.to_formatted_s(:just_date) %>
        <% else %>
          <%= "?" %>
          
        <% end %>
      <% end %>
    </td>
    <td><%= Standard.find_by_id(document.occasions.first.standard_id).short_name %></td>
    <td><%= document.project_id %></td>
    <td><%= link_to 'Show', document, :class => 'btn btn-mini' %></td>
  </tr>
<% end %>
</tbody>
</table>
<%= will_paginate @documents, :previous_label => h("<"), :next_label => h(">"), :class => "pagination pagination-mini text-center" %>
