<p>
  <b>Title:</b>
  <%= @document.title %>
</p>

<p>
  <b>Link:</b>
  <%= @document.link %>
</p>
<% @document.occasions.each do |o| %>
<p>
  <b>Issue date:</b>
  <% if o.description =~ /issue/i %>
  <%= WhenDate.find(o.when_date_id).date_string %>
</p>
<p>
  <b>Upload date:</b>
  <% elsif o.description =~ /upload/i %>
  <td><%= WhenDate.find(o.when_date_id).date_string %>
<% else %>
	<%= "?" %>
  </td>
<% end %>
<% end %>
</p>

<p>
  <b>Project:</b>
  <%= @document.project_id %>
</p>


<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
