<div class="row-fluid">
	<div class="span9">
		<h4><%= @project.title %></h4>
	</div>
	<div class="span3">
		<%= render 'form' %>
	</div>
</div>
<% @project.documents.each do |d| %>
<div class="row-fluid"  style="margin-bottom: 10px">
	<div>
		<a data-toggle="collapse" data-target="#collapse<%= d.id %>" href="#collapse<%= d.id %>">
			<h5><%= d.title %> (<% if d.when_dates.first then %><%= d.when_dates.first.date %><% end %> )</h5>
		</a>
	</div>
	<div id="collapse<%= d.id %>" class="collapse">
		<div id="pdf">
			<object class="span9" type="application/pdf" data="<%= d.link+'#zoom=90&scrollbar=0&toolbar=0&navpanes=0' %>" id="pdf_content">
			<p class="lead">Can't display the document in your browser. Try <a href="<%= d.link %>">downloading</a> it.</p>
			</object>
			<div class="span3">
				<div>
					<% @document = d %>
					<%= render 'documents/form' %>
				</div>
			</div>
		</div>
	</div>
</div>
<% end %>
