<div class="row-fluid">
	<div class="span9">
		<h4><%= @project.title %></h4>
	</div>
	<div class="span3">
		<%= render 'form' %>
	</div>
</div>
<% @project.documents.each do |d| %>
<div class="togle-unit">
	<div class="row-fluid">
		<div class="span9">
			<%= d.title %> (<%= d.issue_date_string %>)
			<u class="togle-control" data-text="(Expand)" data-expanded-text="(Collapse)">
			(Expand)
			</u>
		</div>
		<div id="pdf" class="togle-content">
			<object class="span9" height="600" type="application/pdf" data="<%= d.link+'#zoom=85&scrollbar=0&toolbar=0&navpanes=0' %>" id="pdf_content">
			<p class="lead">Can't display the document in your browser. Try <a href="<%= d.link %>">downloading</a> it.</p>
			<embed type="application/pdf" src="<%= d.link %>" class="span9" height="600" />
			</object>
			<div class="span3">
				<div style="margin-bottom: 420px">
					<% @document = d %>
					<%= render 'documents/form' %>
				</div>
			</div>
		</div><!-- /.togle-content -->
	</div>
</div><!-- /.togle.unit -->
<% end %>
