<div style="width: 70%; float: left;">
	<h4><%= @project.title %></h4>
	<% @project.documents.each do |d| %>
		 <li><%= link_to d.title, d.link %>
	<% end %>  
</div>
<div style="margin-left: 70%;">
	<%= render 'form' %>
</div>
<div>
<%= link_to 'Show', @project %> |
<%= link_to 'Back', projects_path %>
</div>