<%= @projects.count %> projects in the database

<%= will_paginate @projects, :previous_label => h("<"), :next_label => h(">"), :class => "pagination pagination-mini text-center" %>

<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>
        <label class="checkbox">
          <input type="checkbox" value="">
        </label>
      </th>
      <th><small>Standard</small></th>
      <th><small>Ref №</small></th>
      <th><small><%= sortable "title" %></small></th>
      <th><small>Docs</small></th>
      <th><small>Host Party</small></th> <!--<%= sortable "countries.name", "Host Party" %>-->
      <!-- <th><small><%= "Annex-I Party" %></small></th> -->
      <th></th>
    </tr>
  </thead>
<tbody>
<% @projects.each do |p| %>
  <tr>
    <td>
      <label class="checkbox">
        <input type="checkbox" value="">
      </label>
    </td>
    <td><%= p.standards.first.short_name %></td>
    <td valign="top"><%= link_to p.refno, p.webcrawls.first.url if !p.webcrawls.first.nil? %></td>
    <td valign="top"><small><%= link_to p.title, project_path(p) %></small></td>
    <td><%= p.documents.count %></td>
    <td>
      <% if p.roles.where(:role => "Host").first then %>
        <%= p.countries.where(:id => p.roles.where(:role => "Host").first.country_id).first.name %>
      <% end %>
    </td>
    <!-- <td>
      <% if p.roles.where(:role => "Investor") then %>
        <% p.roles.where(:role => "Investor").each do |x| %>
          <% p.countries.where(:id => x.country_id).each do |y| %>
            - <%= y.name %> <br />
          <% end %>
        <% end %>
      <% end %>
    </td> -->
    <td><%= link_to 'Edit', edit_project_path(p), :class => 'btn btn-mini' %></td>
  </tr>
<% end %>
</tbody>
</table>

<%= will_paginate @projects, :previous_label => h("<"), :next_label => h(">"), :class => "pagination pagination-mini text-center" %>

<% content_for :title do %>Projects<% end %>
<% content_for :description do %>My Description<% end %>