<h1>Projects (<%= @projects.count %>)</h1>
<div class="pagination pagination_centered">
<%= will_paginate @projects, :previous_label => h("<"), :next_label => h(">"), :container => false %>
</div>
<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>Standard</th>
      <th>Ref</th>
      <th><%= sortable "title" %></th>
      <th># of docs</th>
      <th><%= sortable "name", "Host Party" %></th>
      <th><%= sortable "name", "Annex-I Party" %></th>
      <th></th>
    </tr>
  </thead>
<tbody>
<% @projects.each do |p| %>
  <tr>
    <td align="right"><%= p.standards.first.short_name %></td>
    <td valign="top"><%= link_to p.refno, p.webcrawls[0].url %></td>
    <td valign="top"><%= link_to p.title, project_path(p) %></td>
    <td align="center"><%= p.documents.count %></td>
    <% if p.roles.where(:role => "Host").first then %>
      <td><%= p.countries.where(:id => p.roles.where(:role => "Host").first.country_id).first.name %></td>
    <% end %>
    <% if p.roles.where(:role => "Investor") then %>
      <td>
        <% p.roles.where(:role => "Investor").each do |x| %>
          <% p.countries.where(:id => x.country_id).each do |y| %>
            <%= y.name %> <br />
          <% end %>
        <% end %>
      </td>
    <% else %>
      <%= puts "" %>
    <% end %>
    <td><%= link_to 'Edit', edit_project_path(p), :class => 'btn btn-mini' %></td>
  </tr>
<% end %>
</tbody>
</table>
<div class="pagination pagination-centered">
<%= will_paginate @projects, :previous_label => h("<"), :next_label => h(">"), :container => false %>
</div>

<% content_for :title do %>Projects<% end %>
<% content_for :description do %>My Description<% end %>