<p id="notice"><%= notice %></p>
<p>
	<b>Title:</b>
	<%= @project.title %>
</p>
<p>
	<b>Reference number:</b>
	<%= @project.refno %>
</p>
<p>
	<b>Standard:</b>
	<%= @project.standards.first.name %>
</p>
<p>
	<b>Scale:</b>
	<% if !@project.scale.blank? %>
		<%= @project.scale %>
	<% else %>
		<%= "Unknown" %>
	<% end %>
</p>
<p>
	<b>Host country:</b>
	<%= @project.countries(:role => "Host").first.name %>
</p>
<p>
	<b>Fee:</b>
	<% if !@project.fee.blank? %>
		<%= @project.fee %>
	<% else %>
		<%= "Unknown" %>
	<% end %>
</p>

<p>
	<b>Documents:</b>
	<% @project.documents.each do |d| %>
		<ul><%= link_to d.title, d.link %> (<%= d.issue_date_string %>)
		</ul>
	<% end %>
</p>


<%= link_to 'Edit', edit_project_path(@project), :class => 'btn btn-mini' %> |
<%= link_to 'Back', projects_path, :class => 'btn btn-mini' %>
