<p id="notice"><%= notice %></p>
<p>
	<b>Title:</b>
	<%= @project.title %>
</p>
<p>
	<b>Reference number:</b>
	<%= @project.refno %>
</p>
<p>
	<b>Standard:</b>
	<%= @project.standards.first.name %>
</p>
<p>
	<b>Scale:</b>
	<% if !@project.scale.blank? %>
		<%= @project.scale %>
	<% else %>
		<%= "Unknown" %>
	<% end %>
</p>
<p>
	<b>Validating DOE:</b>
	<% @project.stakeholders.find_all_by_entity_role("val_doe").each do |e| %>
		<% if e.entity %>
			<%= e.entity.title %>
		<% else %>
			<%= "Unknown" %>
		<% end %>
	<% end %>
</p>
<p>
	<b>Verifying DOEs:</b>
	<% @project.stakeholders.find_all_by_entity_role("ver_doe").each do |e| %>
		<% if e.entity %>
			<%= e.entity.title %>
		<% else %>
			<%= "Unknown" %>
		<% end %>
	<% end %>
</p>
<p>
	<b>Host country:</b>
	<% if !@project.addresses.blank? then %>
		<% @project.addresses.each do |a| %>
			<%= a.country.name %>
		<% end %>
	<% else %>
		<%= "Unknown" %>
	<% end %>
	(<% @project.stakeholders.find_all_by_entity_role("host_pp").each do |e| %>
		<% if e.entity %>
			<%= link_to e.entity.title + ";", entity_path(e.entity) %>
		<% else %>
			<%= "Unknown" %>
		<% end %>
	<% end %>)
</p>

<p>
<b>Investor countries:</b>
<% if !@project.stakeholders.find_all_by_country_role("Investor").blank? %>
	<% @project.stakeholders.find_all_by_country_role("Investor").map(&:country_id).uniq.each do |s| %>
        <% if c = Country.find_by_id(s) then %>
	        <ul>
				<b><%= c.name %></b>
				(<% @project.stakeholders.find_all_by_entity_role_and_country_id("a1_pp", c.id).each do |e| %>
					<% if e.entity then%>
						<%= link_to e.entity.title + ";", entity_path(e.entity) %>
					<% else %>
						<%= "Unknown" %>
					<% end %>
				<% end %>)
			</ul>
		<% end %>
    <% end %>
<% else %>
	<%= "None" %>
<% end %>
</p>
<p>
	<b>Fee:</b>
	<% if !@project.fee.blank? %>
		$<%= @project.fee %>
	<% else %>
		<%= "Unknown" %>
	<% end %>
</p>

<p>
	<b>Documents:</b>
	<% @project.documents.each do |d| %>
		<ul><%= link_to d.title, d.link %>
		</ul>
	<% end %>
</p>


<%= link_to 'Edit', edit_project_path(@project), :class => 'btn btn-mini' %> |
<%= link_to 'Back', projects_path, :class => 'btn btn-mini' %>

<% content_for :title do %>Project <%= @project.standards.first.short_name + @project.refno %><% end %>
<% content_for :description do %>My Description<% end %>
