<p id="notice"><%= notice %></p>
<p>
	<b>Title:</b>
	<%= @project.title %>
</p>
<p>
	<b>Reference number:</b>
	<%= @project.refno %>
</p>
<p>
	<b>Standard:</b>
	<%= @project.standards.first.name %>
</p>
<p>
	<b>Scale:</b>
	<% if !@project.scale.blank? %>
		<%= @project.scale %>
	<% else %>
		<%= "Unknown" %>
	<% end %>
</p>
<p>
	<b>Validating DOE:</b>
	<% @project.entities.where(:role => "val_doe").each do |e| %>
		<% if e.stakeholder %>
			<%= e.stakeholder.title %>
		<% else %>
			<%= "Unknown" %>
		<% end %>
	<% end %>
</p>
<p>
	<b>Verifying DOEs:</b>
	<% @project.entities.where(:role => "ver_doe").each do |e| %>
		<% if e.stakeholder %>
			<%= e.stakeholder.title %>
		<% else %>
			<%= "Unknown" %>
		<% end %>
	<% end %>
</p>
<p>
	<b>Host country:</b>
	<% if @project.roles.where(:role => "Host").first then %>
      <%= @project.countries.where(:id => @project.roles.where(:role => "Host").first.country_id).first.name %>
      <% else %>
      <%= "Unknown" %>
    <% end %>
    <%= "(" %>
	<% @project.entities.where(:role => "host_pp").each do |e| %>
		<% if e.stakeholder %>
			<%= link_to e.stakeholder.title + ";", stakeholder_path(e.stakeholder) %>
		<% else %>
			<%= "Unknown" %>
		<% end %>
	<% end %>
	<%= ")" %>
</p>
<% if @project.roles.where(:role => "Investor") %>
<b>Investor countries:</b>
	<% @project.roles.where(:role => "Investor").each do |r| %>
        <% if r.country %>
	        <ul>
				<b><%= r.country.name %></b>
				<%= "(" %>
					<% @project.entities.where(:role => "a1_pp").each do |e| %>
						<% if e.stakeholder %>
							<% if e.stakeholder.country == r.country %>
								<%= link_to e.stakeholder.title + ";", stakeholder_path(e.stakeholder) %>
							<% end %>
						<% else %>
							<%= "Unknown" %>
						<% end %>
					<% end %>
				<%= ")" %>
			</ul>
		<% else %>
			<%= "None" %>
		<% end %>
    <% end %>
<% end %>
<p>
	<b>Fee:</b>
	<% if !@project.fee.blank? %>
		$<%= @project.fee %>
	<% else %>
		<%= "Unknown" %>
	<% end %>
</p>

<p>
	<b>Documents:</b>
	<% @project.documents.each do |d| %>
		<ul><%= link_to d.title, d.link %>
		</ul>
	<% end %>
</p>


<%= link_to 'Edit', edit_project_path(@project), :class => 'btn btn-mini' %> |
<%= link_to 'Back', projects_path, :class => 'btn btn-mini' %>
