<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  
  <% if !@when_date.date.blank? then %>
        <%= @when_date.date.localtime.to_formatted_s(:just_date) %>
      <% else %>
        <%= @when_date.date %>
      <% end %>  
</p>


<%= link_to 'Edit', edit_when_date_path(@when_date) %> |
<%= link_to 'Back', when_dates_path %>
