<p id="notice"><%= notice %></p>

<p>
  <h3><%= @country.name %></h3>
</p>
<% st = @country.stakeholders %>
<p>
	<b>Sponsored project(s):</b><br />
	<% if !st.find_all_by_country_role("Investor").empty? then %>
		<% st.find_all_by_country_role("Investor").map(&:project_id).uniq.each do |s| %>
			<% p = Project.find_by_id(s) %>
			<label class="checkbox">
				<small><input type="checkbox" value=""><%= p.standards.first.short_name %><%= p.refno %>. <%= link_to p.title, project_path(p) %><br /></small>
			</label>
		<% end %>
	<% else %>
		<%= "None" %>
	<% end %>
</p>
<p>
	<b>Hosted project(s):</b><br />
	<% if !st.find_all_by_country_role("Host").empty? then %>
		<% st.find_all_by_country_role("Host").map(&:project_id).uniq.each do |s| %>
			<% p = Project.find_by_id(s) %>
			<label class="checkbox">
				<small><input type="checkbox" value=""><%= p.standards.first.short_name %><%= p.refno %>. <%= link_to p.title, project_path(p) %><br /></small>
			</label>
		<% end %>
	<% else %>
		<%= "None" %>
	<% end %>
</p>
<%= link_to 'Edit', edit_country_path(@country), :class => 'btn btn-mini' %> |
<%= link_to 'Back', countries_path, :class => 'btn btn-mini' %>
