<h1>Standards</h1>

<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Short name</th>
      <th>Project</th>
      <th></th>
    </tr>
  </thead>
<% @standards.each do |standard| %>
  <tr>
    <td><%= standard.name %></td>
    <td><%= standard.short_name %></td>
    <td>
      <% if standard.when_dates.first then %>
        <%= standard.when_dates.first.projects.first.id %>
      <% else %>
        <%= "" %>
      <% end %>
    </td>
    <td><%= link_to 'Edit', edit_standard_path(standard) %></td>
    
  </tr>
<% end %>
</table>
