<h1>Listing standarts</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Project</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @standarts.each do |standart| %>
  <tr>
    <td><%= standart.name %></td>
    <td><%= standart.project_id %></td>
    <td><%= link_to 'Show', standart %></td>
    <td><%= link_to 'Edit', edit_standart_path(standart) %></td>
    <td><%= link_to 'Destroy', standart, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Standart', new_standart_path %>
