<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container-fluid">
      <%= link_to "data collector", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li class="<%= "active" if current_page?(webcrawls_path) %>"><%= link_to "Crawls", webcrawls_path %></li>
          <li class="<%= "active" if current_page?(standards_path) %>"><%= link_to "Standards", standards_path %></li>
          <li class="<%= "active" if current_page?(when_dates_path) %>"><%= link_to "Dates", when_dates_path %></li>
          <li class="<%= "active" if current_page?(countries_path) %>"><%= link_to "Countries", countries_path %></li>
          <li class="<%= "active" if current_page?(stakeholders_path) %>"><%= link_to "Companies", stakeholders_path %></li>
          <li class="<%= "active" if current_page?(projects_path) %>"><%= link_to "Projects", projects_path %></li>
          <li class="<%= "active" if current_page?(documents_path) %>"><%= link_to "Documents", documents_path %></li>
          <li class="<%= "active" if current_page?(root_path) %>"><%= link_to "Home", root_path %></li>
          <li class="<%= "active" if current_page?('#') %>"><%= link_to "Help",    '#' %></li>
          <li class="<%= "active" if current_page?('#') %>"><%= link_to "Sign in", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>