<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Data Collector" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Data Collector" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
    <%= yield(:head) %>
  </head>
   <body class="<%= controller_name %> <%= action_name %>">
    <%= render 'layouts/header' %>
    <div id="main" role="main">
      <div class="container-fluid">
        <div class="content">
          <%= render 'layouts/messages' %>
          <%= yield %>
        </div>
        <%= render 'layouts/footer' %>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
  </body>
</html>